<header class="px-4 sm:px-6 lg:px-8 bg-white shadow-sm">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <div class="flex items-center gap-4">
      <a href="/">
        <img src={~p"/images/logo.svg"} width="36" />
      </a>
      <p class="text-xl font-semibold text-gray-900">
        Stressgrid Management
      </p>
    </div>
  </div>
</header>
<main class="min-h-screen bg-gray-50">
  <.flash_group flash={@flash} />
  {@inner_content}
</main>
